DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=pass
DB_NAME=mydb

PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=tu-secret-super-seguro-cambiar-en-produccion
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=tu-refresh-secret-super-seguro
JWT_REFRESH_EXPIRATION=7d

# Google oauth
GOOGLE_CLIENT_ID=tu-google-client-id
GOOGLE_CLIENT_SECRET=tu-google-client-secret